footer{
    background-color: rgb(47, 100, 7);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 70px;
        height: 70px;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px 20px 0 20px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    font-weight: 600;  
                }
            }
        }
    }
}